<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weBlog</title>
    <link rel="stylesheet" href="homepage_style.css">
    <link rel="stylesheet" href="utilities.css">
    <link rel="stylesheet" href="icon-font.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/login" class="navigation__link"><span></span>Login/SignUp</a></li>
                <li class="navigation__item"><a href="#categories" class="navigation__link"><span></span>Categories</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Hall of Fame</a></li>
                <li class="navigation__item"><a href="/blogs" class="navigation__link"><span></span>Trending</a></li>
            </ul>
        </nav>
    </div>

    <header class="header">
        <div class="header__logo-box">
            <img src="images/HomePage_images/logo.png" alt="site-logo" class="header__logo">
        </div>
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">WeBlog</span>
                <span class="heading-primary-sub">is where blogging starts</span>
            </h1>
            <a href="/blogs" class="bttn bttn-white bttn-animated ">Discover Blogs</a>
        </div>
    </header>



    <section class="section-categories" id="categories">
        <div class="section-categories__heading">
            <h2 class="section-categories__heading-primary">Categories</h2>
        </div>
        <div class="container u-padding-5">
            <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 gx-5 gy-5 ">

                <div class="col">
                    <a href="/categories/Travel" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-world categories-box__icon"></i>
                            <h2 class="heading-tertiary">Travel</h2>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="/categories/Gaming" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-ios-game-controller-b-outline categories-box__icon"></i>
                            <h2 class="heading-tertiary">Gaming</h2>
                        </div>
                    </a>
                </div>


                <div class="col">
                    <a href="/categories/Technology" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-laptop categories-box__icon"></i>
                            <h2 class="heading-tertiary">Technology</h2>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/categories/Food" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-fast-food categories-box__icon"></i>
                            <h2 class="heading-tertiary">Food</h2>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/categories/Literature" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-ios-book-outline categories-box__icon"></i>
                            <h2 class="heading-tertiary">Literature</h2>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/categories/Business" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-line-chart categories-box__icon"></i>
                            <h2 class="heading-tertiary">Buisness</h2>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/categories/Arts" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-brush categories-box__icon"></i>
                            <h2 class="heading-tertiary">Arts</h2>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/categories/Education" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-graduation-cap categories-box__icon"></i>
                            <h2 class="heading-tertiary">Education</h2>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/categories/Social" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-comments categories-box__icon"></i>
                            <h2 class="heading-tertiary">Social</h2>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="/categories/Health" class="section-categories__a">
                        <div class="categories-box">
                            <i class="icon-like-love-streamline categories-box__icon"></i>
                            <h2 class="heading-tertiary">Health</h2>
                        </div>
                    </a>
                </div>

                <!-- <div class="col">
            <a href="#" class="section-categories__a">
              <div class="categories-box">
                <i class="icon-mail-read categories-box__icon"></i>
                <h2 class="heading-tertiary">Health</h2>
              </div>
            </a> 
          </div> -->

            </div>
        </div>
    </section>


    <section class="section__HOF" id="section__HOF">
        <div class="u-center-text u-margin-top u-padding-bottom-5 u-padding-top-2">
            <h2 class="heading-secondary">Hall Of Fame</h2>
        </div>
        <div class="container px-4">
            <div class="row u-padding-5">
                <div class="user">
                    <figure class="user__shape">
                        <img src="images\HomePage_images\nat-9.jpg" alt="user1" class="user__img">
                        <figcaption class="user__caption">
                            Rob Pierce
                        </figcaption>
                    </figure>
                    <div class="user__text">
                        <h3 class="heading-tertiary u-margin-bottom-sm">On top of mountains, under beautiful skies.</h3>
                        <p>I’m a self-professed mountain man/mountain lover/ mountain climber. Except that here’s the thing: I don’t even live in the mountains – not even close! Years ago I traded in my mountain lifestyle for a new and exciting opportunity
                            on the other side of the country – and I wouldn’t change that decision for the world! But I must confess what I can’t shake…the mountains stole my heart. Here’s why . . . .</p>
                    </div>
                    <div>
                        <a href="#" class="btn-text">Read Blog &rarr;</a>
                    </div>
                </div>
            </div>

            <div class="row u-padding-5">
                <div class="user">
                    <figure class="user__shape">
                        <img src="images\HomePage_images\user1.jpg" alt="user1" class="user__img">
                        <figcaption class="user__caption">
                            Gray Harrison
                        </figcaption>
                    </figure>
                    <div class="user__text">
                        <h3 class="heading-tertiary u-margin-bottom-sm">When life gives you mountains, put on your boots and hike.</h3>
                        <p>Hiking alone is one of the most intense intimate experiences, Although I often plan to reach a certain place, this is not what really matters and I don’t care if I don’t get there, if I stop before or if I end somewhere else. Hiking
                            is not a competition, at least for me. I like hiking alone because I can enjoy the beauty of silence and the sounds of nature. I like listening to the rhythm of my breath, looking at the small details or loosing myself in the
                            look of a magnificent scenery, trying to engrave it in my memory, for ever. When I hike I want to feel fully immersed in the nature surrounding me, I like to remember how small I am. It helps me putting things again in the
                            right perspective. I don’t feel the need of talking and even less of listening to other people chatting. It’s not the place for words, unless they are spoken by nature . . . . </p>
                    </div>
                    <div>
                        <a href="#" class="btn-text">Read Blog &rarr;</a>
                    </div>
                </div>
            </div>

            <div class="row u-padding-5">
                <div class="user">
                    <figure class="user__shape">
                        <img src="images\HomePage_images\nat-8.jpg" alt="user1" class="user__img">
                        <figcaption class="user__caption">
                            Mary Rose
                        </figcaption>
                    </figure>
                    <div class="user__text">
                        <h3 class="heading-tertiary u-margin-bottom-sm">Some would say that I'm an aqua-holic.</h3>
                        <p>After being cooped up indoors and kept away from our family and friends, a boating holiday is the perfect way to reconnect with loved ones, relish in the great outdoors, while keeping your distance from others if and when we need
                            to! A staycation on the Rideau Canal offers spectacular nature, picturesque towns, and lively cities of this UNESCO World Heritage Site. One of the greatest engineering feats of the 19th century, the Rideau Canal is the oldest
                            continuously-operated canal system in North America. Read about just some of the Can't Miss experiences along this world-class waterway . . . . </p>
                    </div>
                    <div>
                        <a href="#" class="btn-text">Read Blog &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-newsletter" id="section-newsletter">
        <div class="row">
            <div class="subscribe">
                <div class="subscribe__form">
                    <form action="#" class="form">
                        <div class="u-margin-bottom-med">
                            <h2 class="subscribe-heading">
                                Subscribe to our Newsletter!
                            </h2>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__input" placeholder="Name" id="name" required>
                            <label for="name" class="form__label">Name</label>
                        </div>

                        <div class="form__group">
                            <input type="email" class="form__input" placeholder="Email Address" id="mail" required>
                            <label for="mail" class="form__label">Email Address</label>
                        </div>

                        <div class="form__group">
                            <a href="#popup" class="subscribe__btn subscribe__btn-green" id="myBtn">Subscribe &rarr;</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div class="footer__connect-box">
            <h2 class="footer-heading">Connect with us at</h2>
            <ul class="footer-navigation">
                <li>
                    <a href=""><img class="footer-img" src="images/HomePage_images/facebook.png" alt="facebook"></a>
                </li>
                <li>
                    <a href=""><img src="images/HomePage_images/instagram.png" alt="instagram" class="footer-img"></a>
                </li>
                <li>
                    <a href=""><img src="images/HomePage_images/twitter.png" alt="twitter" class="footer-img"></a>
                </li>
            </ul>
        </div>
        <hr class="footer__hr">
        <div class="container px-4  ">
            <div class="row gx-2">
                <div class="col u-center-text">
                    <div class=" p-3 box">
                        <a href="#" class="custom-underline container_heading">Contact us</a>
                    </div>
                    <div class="h-auto d-inline-block">
                        <ul class="col__ul-list">
                            <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">weblog@google.com</a></li>
                            <li class="col__list"><a href="callto:weblog@google.com" class="col__list-item">+917093194957</a></li>
                            <li class="col__list"><a href="#" class="col__list-item">IIIT Sricity, Mandal 517 646, 630, Gnan Marg, Sri City, Sathyavedu, Andhra Pradesh 517646</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col u-center-text">
                    <div class="p-3 box">
                        <a href="#" class="custom-underline container_heading">About us</a>

                    </div>
                    <div class="h-auto d-inline-block">
                        <ul class="col__ul-list">
                            <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">weblog@google.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col u-center-text">
                    <div class="p-3 box">
                        <a href="#" class="custom-underline container_heading">Support</a>
                    </div>
                    <div class="h-auto d-inline-block">
                        <ul class="col__ul-list">
                            <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">About Us</a></li>
                            <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">FAQ</a></li>
                            <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">Terms of Use</a></li>
                            <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

    </section>

    <div class="popup" id="popup">
        <div class="popup__content">
            <div class="u-center-text u-padding-top-2">
                <i class="icon-mail-read popup__content-icon"></i>
            </div>
            <a href="#section-newsletter" class="popup__close">&times;</a>
            <div class="popup__content-heading">
                Thank you for Subscribing to our Newsletter
            </div>
            <div class="popup__content-text">
                Hi user, please stay tuned to get some curated content from us which includes weekly top blogs, blogs based on your interest and the Hall of Fame.
            </div>
        </div>
    </div>

    <script src="homepage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
</body>

</html>