<!DOCTYPE html>
<html lang="en">
<head>
  <title>Different categories</title>
</head>
<body>
  <% for(let i=0;i<obj.length;i++){%>
  <h1><%= obj[i].id; %></h1>
  <h1><%= obj[i].title; %></h1>
  <h1><%=obj[i].blog; %></h1>
  <h1><%= obj[i].username;%></h1>
   <% }%>
</body>
</html>