<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
   
</head>
<body>
    <h1>Write your Blog here</h1>
    <br>
    <div id="editorjs"></div>
    <button>Submit</button>
    <script> 
        import EditorJS from '@editorjs/editorjs';
        const editor = new EditorJS({
          holder: 'editorjs'
        });
    </script>  
</body>
</html>