<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weBlog</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<body>

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a href="/menu/login" class="navigation__link"><span></span>Login/SignUp</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Categories</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Hall of Fame</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Weekly performers</a></li>
                <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Book now</a></li>
                </ul>
        </nav>
    </div>

    <header  class="header" >
        <div class="header__logo-box">
          <img src="https://www.freelogodesign.org/file/app/client/thumb/05a93eba-e73e-4467-82f8-69b93927f1c7_200x200.png?1615187100639" alt="site-logo" class="header__logo">
        </div>
        <div class="header__text-box">
          <h1 class="heading-primary">
            <span class="heading-primary-main">WeBlog</span>
            <span class="heading-primary-sub">is where blogging starts</span>
          </h1>
          <a href="/blogs" class="bttn bttn-white bttn-animated ">Discover Blogs</a>
        </div>
    </header>

   

    
</body>

</html>