<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weBlog</title>
    <link rel="stylesheet" href="homepage_style.css">
    <link rel="stylesheet" href="utilities.css">
    <link rel="stylesheet" href="icon-font.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>

  <body>

    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <div class="navigation__background">&nbsp;</div>

        <nav class="navigation__nav">
          <ul class="navigation__list">
            <li class="navigation__item"><a href="/menu/login" class="navigation__link"><span></span>Login/SignUp</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Categories</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Hall of Fame</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Weekly performers</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span></span>Book now</a></li>
          </ul>
        </nav>
    </div>

      <header  class="header" >
        <div class="header__logo-box">
          <img src="images/HomePage_images/logo.png" alt="site-logo" class="header__logo">
        </div>
        <div class="header__text-box">
          <h1 class="heading-primary">
            <span class="heading-primary-main">WeBlog</span>
            <span class="heading-primary-sub">is where blogging starts</span>
          </h1>
          <a href="/blogs" class="bttn bttn-white bttn-animated ">Discover Blogs</a>
        </div>
      </header>

    <section class="trending-blogs">
      <div class="u-center-text u-margin-top">
        <h2 class="heading-secondary ">Trending Blogs</h2>
      </div>
      
    </section>

    
    <section class="section-categories">
      <div class="container">
        <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-4 g-5 gy-4">
          <div class="col">
            <div class="categories-box">
              <i class="icon-basic-world"></i>
              <h2>Travel</h2>
            </div>
          </div>

          <div class="col">
            <div class="categories-box">
              <i class="icon-basic-joypad"></i>
              <h2>Gaming</h2>
            </div>
          </div>

          <div class="col">
            <div class="categories-box">
              <i class="icon-basic-laptop"></i>
              <h2>Technology</h2>
            </div>
          </div>

          <div class="col">
            <div class="categories-box">
              <h2>Food</h2>
            </div>
          </div>

          <div class="col">
            <div class="categories-box">
              <h2>hello</h2>
            </div>
          </div>  

          <div class="col">
            <div class="categories-box">
              <h2>hello</h2>
            </div>
          </div>  

        </div>
      </div>  
    </section>

    <section class="footer-section">
      <div class="footer__connect-box">
            <h2 class="footer-heading">Connect with us at</h2>
          <ul class="footer-navigation">
            <li><a href=""><img class="footer-img" src="images/HomePage_images/facebook.png" alt="facebook"></a></li>
            <li><a href=""><img src="images/HomePage_images/instagram.png" alt="instagram" class="footer-img"></a></li>
            <li><a href=""><img src="images/HomePage_images/twitter.png" alt="twitter" class="footer-img"></a></li>
          </ul> 
      </div>
        <hr class="footer__hr">
      <div class="container px-4  ">
        <div class="row gx-2">
          <div class="col u-center-text">
              <div class=" p-3 box">
                  <a href="#" class="custom-underline container_heading">Contact us</a>
              </div>
              <div class="h-auto d-inline-block">
                <ul class="col__ul-list">
                  <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">weblog@google.com</a></li>
                  <li class="col__list"><a href="callto:weblog@google.com" class="col__list-item">+917093194957</a></li>
                  <li class="col__list"><a href="#" class="col__list-item">IIIT Sricity, Mandal 517 646, 630, Gnan Marg, Sri City, Sathyavedu, Andhra Pradesh 517646</a></li>
                </ul>
              </div>
          </div>
          <div class="col u-center-text">
            <div class="p-3 box">
                  <a href="#" class="custom-underline container_heading">About us</a>
                  
              </div>
              <div class="h-auto d-inline-block">
                <ul class="col__ul-list">
                  <li class="col__list"><a href="mailto:weblog@google.com" class="col__list-item">weblog@google.com</a></li>
                </ul>
              </div>
          </div>
          <div class="col">
            <div class="p-3 box">
                  <a href="#" class="custom-underline container_heading">Subscribe to our Newsletter</a>
              </div>
          </div>
        </div>
      </div>
      
          
      
      
    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->
  </body>

</html>