<!DOCTYPE html>
<html lang="en">
<head>
  <title>Static Post</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
  <nav style="background-color: rgb(32, 178, 110);" class="navbar navbar-dark">
    <a class="navbar-brand" href="http://localhost:8080/">WeBlog</a>
    <form class="form-inline">
      <a class="button navbar-brand" href="http://localhost:8080/menu/login">Signup/login</a>
    </form>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-1" >
        <div style="margin-top: 15rem;position: fixed;"><%= '#'+blogs[0].username %>
        </div>
        <div style="margin-top: 16.5rem;position: fixed;padding-left: 20px;"><button class="btn-primary" style="padding: 1px;font-size: 0.9rem;">follow</button>
        </div>
        <div class="row" style="margin-top: 18.5rem;position: fixed;padding-left: 1rem;">
          <div class="col"><i class="far fa-thumbs-up"></i></div>
          <div class="col" style="padding-left: 0rem; padding-top: 0.15rem;"><h6 style="padding: 0rem;">count</h6></div>
        </div>
        <div class="row" style="margin-top: 20rem;position: fixed;padding-left: 1rem;">
          <div class="col"><i class="far fa-comment"></i></div>
          <div class="col" style="padding-left: 0rem; padding-top: 0.15rem;"><h6 style="padding: 0rem;">count</h6></div>
        </div>
        <div class="row" style="margin-top: 21.5rem;position: fixed;padding-left: 1rem;">
          <div class="col"><i class="far fa-bookmark"></i></div>
        </div>
    </div>
  <div class="container" style="margin-left: 50px; background-image: linear-gradient(to right, rgba(240, 252, 238, 0.938), rgb(246, 248, 247));">
    <h1 class="text-center"><%= blogs[0].title %></h1>
    <div class="row">
      <img style="height: 2rem;padding-left: 2rem;margin-bottom: 1px;" src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"><h5 style="margin-bottom: 1px;"><%= blogs[0].username %></h5>
    </div>
    <img style="height: 50rem;width: 100rem;" class="rounded img-thumbnail"src="https://miro.medium.com/max/1250/0*_V67f5ch2dsuV1iu">
      <div class="col" style="padding-left: 100px;padding-right: 100px; padding-top: 25px;">
        <p style="padding-bottom: 0.5rem; letter-spacing: 0.5px;font-weight: 400;line-height: 25px;border-bottom: 0.1rem solid rgba(0,0,0,0.1)"><%= blogs[0].blog %></p>
      </div>
      <div style="padding-bottom: 1rem; margin-top: 0rem;" class="row container">
        <div class="col-1"><i style="margin-left: 5rem;" class="far fa-thumbs-up fa-lg"></i></div>
        <div class="col-1"style="margin-left:1rem"><b>1387</b></div>
        <div class="col-0"><i class="far fa-comment fa-lg"></i></div>
        <div style="margin-left: 0.5rem;" class="col-0"><b>469comments</b></div>
        <div class="col-0"><i style="margin-left: 30rem;" class="fab fa-twitter"></i></div>
        <div class="col-0"><i style="margin-left: 1rem;" class="fab fa-linkedin"></i></div>
        <div class="col-0"><i style="margin-left: 1rem;" class="fab fa-facebook-square"></i></div>
        <div class="col-0"><i style="margin-left: 1rem;" class="far fa-bookmark"></i></div>
      </div>
  </div>
</div>
  </div>
</body>
</html>