
.header {
   
    height:95vh; 
    background-image:linear-gradient(to right bottom,rgba(126,213,111,0.8),rgba(40,180,131,0.8)),
    url(https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    text-align: center;
}

.bttn:link,
.bttn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3.5rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    color: #777;
    font-size: 1.5rem;
    top: 2rem;
    font-size: 1rem;
    top:15rem;
}

.bttn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #777;
}

.bttn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: #777;
}

.bttn-white {
    background-color: #fff;
    color: #777;
}

.bttn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    color: #777;
}

.bttn-white::after {
    background-color: #fff;
    color: #777;
}

.bttn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    color: #777;
}

.bttn-animated {
    animation: moveInBottom 0.5s ease-out 0.75;
    animation-fill-mode: backwards;
    color: #777;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
.blog-posts {
    margin-top: 100px;
}

.blog-posts .blog-post {
    margin-bottom: 30px;
}

.blog-posts .blog-thumb img {
    width: 35%;
    height: 45%;
    margin-right: 5px;
    float: left;
    overflow: hidden;
}

.blog-posts .blog-post .headline {
    clear: both;
    max-height: 35%;
    overflow: hidden;
}

.blog-posts .blog-post .headline span a {
    font-size: 0.75rem;
    display: block;
    text-align: right;
    color: darkslategray;
    text-decoration: none;
}

.blog-posts .blog-post .headline a:hover {
    color: black;
}

.blog-posts .blog-post .headline b {
    width: 100%;
    letter-spacing: -0.5px;
    font-weight: 750;
    line-height: 75%;
}

.blog-posts .blog-post .down-content {
    clear: both;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.blog-posts .blog-post .down-content ul.post-info {
    margin-bottom: 4px;
}

.blog-posts .blog-post .down-content ul.post-info li {
    display: inline-block;
}

.blog-posts .blog-post .down-content ul.post-info li:after {
    content: '|';
    color: #aaa;
}

.blog-posts .blog-post .down-content ul.post-info li:last-child::after {
    display: none;
}

.blog-posts .blog-post .down-content ul.post-info li a {
    font-size: 10px;
    color: #aaa;
    font-weight: 400;
    transition: all .3s;
    text-decoration: none;
}

.blog-posts .blog-post .down-content ul.post-info li a:hover {
    color: black;
}

.blog-posts .blog-post .down-content ul.post-tags {
    padding: 0;
    margin-bottom: 5px;
}

.blog-posts .blog-post .down-content ul.post-tags li {
    display: inline-block;
}

.blog-posts .blog-post .down-content ul.post-tags li:first-child i {
    color: #f48840;
    margin-left: 3px;
    margin-right: 5px;
}

.blog-posts .blog-post .down-content ul.post-tags li a {
    color: lightseagreen;
    font-size: 12px;
    text-decoration: none;
}

.blog-posts .blog-post .down-content ul.post-tags li a:hover {
    color: black;
}