html{
    font-size: 62.5%;
}

.u-center-text{
    text-align: center;
}

.u-marign-top{
    top:40rem;
}

.u-top{
    top:1rem;
           
}

.u-padding-5{
    padding:5rem;
}

.u-padding-top-2{
    padding-top:2rem;
}

.u-padding-bottom-5{
    padding-bottom:5rem;
}

.u-margin-bottom-med{
    margin-bottom: 4rem;
}

.u-margin-bottom-sm{
    margin-bottom: 2rem;
}






