
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
 
html{
    font-size: 62.5%;
}

body{
    background-color: aqua;
    line-height: 1.7;
    color: #777;
    padding:2rem;
    box-sizing: border-box;
}

.header {
   
    height:95vh; 
    background-image:linear-gradient(to right bottom,rgba(126,213,111,0.8),rgba(40,180,131,0.8)),
    url(https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size:cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.imgDesign{
    opacity: 0.7;
}

h1{
    color: white;
}

.header__logo-box{
    position:absolute;
    top: 1rem;
    left: 2rem;
}

.header__logo{
    height:10rem;
}

.header__text-box{
    position: absolute;
    top : 40%;
    left: 50%;
    /* right: 50%; */
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-primary{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 6rem;
}

.heading-primary-main{
    display: block;
    font-size: 6rem ;
    font-weight: 500;
    letter-spacing: 5rem;
    animation-name: moveInLeft;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

.heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.08rem;
    animation-name: moveInRight;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
    text-align: left;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    100%{
        opacity: 1;
        transform: translate(0rem);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }
    100%{
        opacity: 1;
        transform: translate(0rem);
    }
}

.bttn,
.bttn:link,
.bttn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .5s;
    position: relative;
    color: #777;
    font-size: 1.5rem;

    /* change for the <button> element in newsletter section */
    border: none;
    cursor: pointer;
}

.bttn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #777;
}

.bttn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: #777;
}

.bttn-white {
    background-color: #fff;
    color: #777;
}

.bttn-green{
  background-color: #55c57a;
  color: #fff;
}

.bttn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    color: #777;
}

.bttn-white::after {
    background-color: #fff;
    color: #777;
}

.bttn-green::after {
  background-color: #55c57a;
  color: #fff;
}

.bttn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    color: #777;
}

.bttn-animated {
    animation: moveInBottom 0.5s ease-out 0.75;
    animation-fill-mode: backwards;
    color: #777;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}


.navigation__checkbox {
    display: none; }
  
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__button {
        top: 3rem;
        right: 3rem; } }
  
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__background {
        top: 3.5rem;
        right: 3.5rem; } }
  
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  
  .navigation__item {
    margin: 1rem; }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.trending-blogs{
  background-color: rgba(245, 245, 245, 0.822);
  padding: 17.5rem 0rem;
  background-position: center;
  margin-top: -25vh;
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1rem;
  display: inline-block;
  position: relative;
  background-image: linear-gradient(to right,rgba(126,213,111,0.8),rgba(40,180,131,0.8));
  -webkit-background-clip: text;
  color: transparent;
  margin:0 auto 0 auto;
  transition: all 0.5s;
}

section{
  height:125vh;
}

.heading-secondary:hover{
  transform: scale(1.25);
  text-shadow: .5rem 1rem 2rem rgba(#000, 0.2);
}


/* Css related to Categories Section */

.section-categories{
  padding: 12.5rem 0;
  background-image:linear-gradient(to right bottom,rgba(126,213,111,0.8),rgba(40,180,131,0.8)),
    url(https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  position: relative;
  height:auto;
  transform: skewY(-7deg);
  margin-top: -9rem;
}

.section-categories > *{
  transform: skewY(7deg);
}

.section-categories__heading{
  margin-bottom:5rem;
  text-align: center;
}

.section-categories__heading-primary{
  display: inline-block;
  color: rgb(255, 255, 255) ;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.section-categories__a{
  text-decoration: none;
  display: block;
}



.categories-box{
  background-color: rgba(255, 255, 255, 0.8) ;
  font-size: 1.5rem;
  padding:2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem  rgba(0, 0, 0, 0.15);
  position: relative;
  transition: all 0.3s;
}

.categories-box:hover{
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: .5rem 1rem 2rem rgba(#000, 0.2);
}

.categories-box:active{
  transform: translateY(-1rem);
}

.categories-box__icon{
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right,rgba(126,213,111,0.8),rgba(40,180,131,0.8));
  -webkit-background-clip: text;
  color: transparent;
}


.heading-tertiary{
  color:#777;
  font-size: 2rem;
}

/* CSS related to Hall Of Fame section*/

.section__HOF{
  background-color: rgba(245, 245, 245, 0.822);
  padding: 17.5rem 0rem;
  background-position: center;
  margin-top: -15vh;
  height: auto;
}

.user{
  margin:0rem auto;
  box-shadow: 0rem 3em 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #fff;
  font-size: 1.6rem;
  transform: skew(-12deg);
  position: relative;
}

.user > *{
  transform: skew(12deg);
}

.user__text{
  padding:5rem;
  display:inline-flexbox;
}

.user__shape{
  height: 15rem;
  width:15rem;
  float: left;
  background-color: #777;
  padding:5rem;
  position: relative;
  overflow: hidden;
  shape-outside:circle(50% at 50% 50%) ;
  clip-path:circle(50% at 50% 50%);
  display: block;
  margin-top: 4.5rem;
  margin-left: 4rem;
  margin-right: 3rem;
  
}

.user__caption{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -20%);
  color: #fff;
  font-size:2rem;
  text-align:center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.user__img{
  height:10.5rem;
  width: 15rem;
  transform: translate(-35%, -35%) scale(1.7);
  backface-visibility: hidden;
  transition: all 0.5s;
}

.user:hover .user__caption{
  opacity: 1;
  transform: translate(-50%,-50%);
}

.user:hover .user__img{
  transform: translate(-35%, -35%) scale(1.6);
  filter: blur(0.3rem) brightness(80%);
}



.btn-text:link, .btn-text:visited {
  margin-bottom:1.5rem;
  margin-left:87%;
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s; 
  
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px); }

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0); }


/* CSS related to section of Subscribe to Newsletter*/

.section-newsletter{
  padding:15rem;
  background-image: linear-gradient(to right bottom,rgba(126,213,111,0.8),rgba(40,180,131,0.9));
}

.subscribe{
  background-image: linear-gradient(105deg, 
  rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 55%, transparent 55%),url(https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: 100%;
  height:auto;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: auto;
}

.subscribe-heading{
  font-size: 4rem;
  background-image: linear-gradient(to right,#7ed56f,#28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.subscribe__form{
  padding: 5rem;
}

.form{
  display: block;
}

.form__input{
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width:40%;
  display: block;
}

.form__input:focus{
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(40,180,131);
}

.form__input:focus:invalid{
  border-bottom: 3px solid orangered;
}

.form__input::-webkit-input-placeholder{
  color: #999;
}

.form__label{
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 2rem;
  margin-top:0.7rem;
  display: block;
  transition: all 0.3s;
  color:rgb(134, 134, 134);
}

.form__input:placeholder-shown + .form__label{
  opacity:0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__group:not(:last-child){
  margin-bottom: 2rem;

}

.subscribe__btn,
.subscribe__btn:link,
.subscribe__btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .5s;
    position: relative;
    color: #fff;
    font-size: 1.5rem;

    /* change for the <button> element in newsletter section */
    border: none;
    cursor: pointer;
}

.subscribe__btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: #fff;
}

.subscribe__btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: #fff;
}


.subscribe__btn-green{
  background-color: #55c57a;
  color: #fff;
}

.subscribe__btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    color: #fff;
}


.subscribe__btn-green::after {
  background-color: #55c57a;
  color: #fff;
}

.subscribe__btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    color: #fff;
}

.popup{
  height:100%;
  width:100%;
  position: fixed;
  top:0rem;
  left:0rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  opacity: 1;
  visibility: hidden;
  overflow:auto;
}

.popup:target,
.popup::after{
  opacity: 1;
  visibility: visible;
}

.popup__close,
.popup__close:link,
.popup__close:visited{
  color:#777;
  position: absolute;
  top:0.5rem;
  right:2rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
}

.popup__close:hover{
  color:#55c57a;
}

.popup__content{
  width:auto;
  height:auto;
  background-color: #fff;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.2);
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.5s;
}

.popup:target .popup__content{
  opacity:1;
  transform: translate(-50%, -50%) scale(1);
}


.popup__content-heading{
  font-size: 3.5rem;
  color: #333;
  text-align: center;
  padding:2rem;
}

.popup__content-text{
  font-size: 2.5rem;
  color: #777;
  text-align: center;
  padding:2rem;
}

.popup__content-icon{
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right,rgba(126,213,111,0.8),rgba(40,180,131,0.8));
  -webkit-background-clip: text;
  color: transparent;
}



/* CSS related to footer*/


.footer-section{
  height:auto;
  background-color: #333;
  padding:4rem 0rem;
  list-style: none;
}


.footer-heading{
  /* display: inline-block; */
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25rem;
  position: relative;
  background-image: linear-gradient(to right,rgba(40,180,131,0.8) ,rgba(126,213,111,0.8));
  -webkit-background-clip: text;
  color: transparent;
  margin:0 auto 0 auto;
  transition: all 0.5s;
}

.footer-heading:hover{
  transform: scale(1.25);
  text-shadow: .5rem 1rem 2rem rgba(#000, 0.2)
}

.footer-navigation{
  list-style: none;
  float: center;
  text-align: center;
  padding-top: 3rem;
  
}

.footer__hr{
  height: 0.25rem !important;
  background-image: linear-gradient(to  right,rgba(126,213,111,0.8),rgba(40,180,131,0.8));
  border: 0;
  width:80%;
  border-radius:1rem;
  margin:2rem auto 0 auto;
}

.footer-navigation li{
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer-img{
  height:4.5rem;
  width:4.5rem;
  transition: all 0.3s;
}

.footer-img:hover{
  transform: scale(1.25);
}

.footer__connect-box{
  text-align:center;
}

.body{
  font-size:10px;
}

.container_heading{
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}

.box{
position: relative;
display: inline-block;
width: 100%;
text-align: center;
cursor: pointer;
height:auto;
/*background: #7bc043;*/
}

.box a{line-height:7rem;}

.custom-underline {
position: relative;
display: inline-block;
font-size:1.5rem;
font-weight: 500;
text-align: center;
}


.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  background-image: linear-gradient(to right, #ADA996,#F2F2F2,#DBDBDB,#EAEAEA);
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}


.box .custom-underline::after {
  top: 65%;
  height: 0.2rem !important;
  width: 40%;
  left: 30%;
  background-image: linear-gradient(to right,rgba(126,213,111,0.8),rgba(40,180,131,0.8));
  transition: 0.4s ease-out all .1s;
}

.box:hover .custom-underline::after {
  width: 90%;
  left: 5%;
  transition: 0.5s ease all;
}

.col__ul-list{
  list-style: none;
  display: inline-block;
  padding: 0rem;
}

.col__list{
  padding-top:0.5rem;
}

.col__list a{
  text-decoration: none;
  
}

.col__list-item{
  color:#fff;
  font-size:1.5rem;
  transition: all 0.3s ease-out;
  
}

.col__list-item:hover{
  background-image: linear-gradient(to right,rgba(126,213,111,0.8),rgba(40,180,131,0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }


.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; 
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}
/* 
.user {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6); 
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media only screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .story {
      transform: skewX(0); } }
  .user__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    margin-left: 9rem;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .user__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 37.5em) {
      .user__shape {
        transform: translateX(-3rem) skewX(0); } }
  .user__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .user__text {
    transform: skewX(12deg); }
    @media only screen and (max-width: 37.5em) {
      .user__text {
        transform: skewX(0); } }
  .user__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .user:hover .user__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .user:hover .user__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); } */