        body {
            font-family: 'Roboto', sans-serif;
            overflow-x: hidden;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        
        p {
            margin-bottom: 0px;
            font-size: 15px;
            font-weight: 400;
            color: #7a7a7a;
            line-height: 30px;
        }
        
        a {
            text-decoration: none!important;
        }
        
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0px;
        }
        
         ::selection {
            background-color: rgb(149, 190, 149);
            color: white;
        }
        
        header {
            position: fixed;
            z-index: 99999;
            width: 100%;
            height: 100px;
            background-color: rgb(149, 190, 149);
            /* background-color: rgb(225, 241, 225)!important; */
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        
        header .navbar {
            padding: 25px 0px;
        }
        
        .navbar .navbar-brand {
            float: left;
            margin-top: -12px;
            outline: none;
        }
        
        .navbar .navbar-brand h2 {
            color: #1e1e1e;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 900;
            -webkit-transition: all .3s ease 0s;
            -moz-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
        }
        
        .navbar .navbar-brand h2 em {
            font-size: 44px;
            font-style: normal;
            color: rgb(29, 143, 29);
        }
        
        #navbarResponsive {
            z-index: 999;
        }
        
        .navbar-collapse {
            text-align: center;
        }
        
        .navbar .navbar-nav .nav-item {
            margin: 0px 15px;
        }
        
        .navbar .navbar-nav a.nav-link {
            text-transform: capitalize;
            font-size: 19px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #1e1e1e;
            transition: all 0.3s;
        }
        
        .navbar .navbar-nav .nav-link:hover,
        .navbar .navbar-nav .active>.nav-link,
        .navbar .navbar-nav .nav-link.active,
        .navbar .navbar-nav .nav-link.show,
        .navbar .navbar-nav .show>.nav-link {
            color: rgb(11, 151, 11);
        }
        
        .navbar .navbar-toggler-icon {
            background-image: none;
        }
        
        .navbar .navbar-toggler {
            border-color: rgb(238, 248, 238);
            background-color: rgb(29, 143, 29);
            height: 46px;
            outline: none;
            border-radius: 0px;
            position: absolute;
            right: 30px;
            top: 25px;
        }
        
        .navbar .navbar-toggler-icon:after {
            content: '\f0c9';
            color: rgb(238, 248, 238);
            font-size: 18px;
            line-height: 30px;
            font-family: 'FontAwesome';
        }
        
        .left-menu {
            position: -webkit-sticky;
            position: sticky;
            top: 18%;
        }
        
        .blog-posts .blog-post {
            margin-bottom: 30px;
        }
        
        .blogs-section {
            border-right: 1px solid gainsboro;
            border-left: 1px solid gainsboro;
            /* margin-top: 20%!important; */
            padding-top: 8%;
        }
        
        .blog-posts .blog-thumb img {
            width: 35%;
            height: 45%;
            margin-right: 20px;
            float: left;
            overflow: hidden;
        }
        
        .blog-posts .blog-post .headline {
            clear: both;
            max-height: 35%;
            overflow: auto;
        }
        
        .blog-posts .blog-post .headline span a {
            font-size: 0.75rem;
            display: block;
            text-align: right;
            color: darkslategray;
            text-decoration: none;
        }
        
        .blog-posts .blog-post .headline a:hover {
            color: black;
        }
        
        .blog-posts .blog-post .headline a b {
            width: 100%;
            font-weight: 750;
            line-height: 75%;
            color: black;
        }
        
        .blog-posts .blog-post .down-content {
            clear: both;
            border-left: 1px solid #eee;
            border-bottom: 1px solid #eee;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        
        .blog-posts .blog-post .down-content ul.post-info {
            margin-bottom: 4px;
            padding-left: 5px;
        }
        
        .blog-posts .blog-post .down-content ul.post-info li {
            display: inline-block;
        }
        
        .blog-posts .blog-post .down-content ul.post-info li:after {
            content: '|';
            color: #aaa;
        }
        
        .blog-posts .blog-post .down-content ul.post-info li:last-child::after {
            display: none;
        }
        
        .blog-posts .blog-post .down-content ul.post-info li a {
            font-size: 12px;
            color: #aaa;
            font-weight: 400;
            transition: all .2s;
            text-decoration: none;
        }
        
        .blog-posts .blog-post .down-content ul.post-info li a:hover {
            color: black;
        }
        
        .blog-posts .blog-post .down-content ul.post-tags {
            padding: 0;
            margin-bottom: 5px;
            padding-left: 5px;
        }
        
        .blog-posts .blog-post .down-content ul.post-tags li {
            display: inline-block;
        }
        
        .blog-posts .blog-post .down-content ul.post-tags li:first-child i {
            color: yellowgreen;
            margin-left: 3px;
            margin-right: 5px;
        }
        
        .blog-posts .blog-post .down-content ul.post-tags li a {
            color: lightseagreen;
            font-size: 14px;
            text-decoration: none;
        }
        
        .blog-posts .blog-post .down-content ul.post-tags li a:hover {
            color: black;
        }
        
        .trending-section {
            /* background-color: light */
            background-image: linear-gradient(to right, rgba(240, 252, 238, 0.938), rgb(246, 248, 247));
            border-radius: 10px;
        }
        
        .sidebar .trending-posts .sidebar-heading h2 {
            font-weight: bold;
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
        }
        
        .menu-right {
            position: -webkit-sticky;
            position: sticky;
            top: 18%;
        }
        
        .sidebar {
            padding: 15px;
        }
        
        .sidebar .search {
            margin-top: 0px;
        }
        
        .sidebar .search input {
            width: 100%;
            height: 50px;
            border: 1px solid #eee;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 500;
            color: #7a7a7a;
            outline: none;
            padding: 0px 15px;
        }
        
        .sidebar .search input::placeholder {
            color: #aaa;
        }
        
        .sidebar .trending-posts .content ul li {
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(238, 236, 236);
            list-style-type: none;
        }
        
        .sidebar .trending-posts .content ul li a {
            text-decoration: none;
        }
        
        .sidebar .trending-posts .content ul li:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: none;
        }
        
        .sidebar .trending-posts .content ul li h5 {
            font-size: 17px;
            font-weight: 500;
            color: #20232e;
            line-height: 30px;
            transition: all 0.3s;
        }
        
        .sidebar .trending-posts .content ul li h5:hover {
            background-image: linear-gradient(to right, rgba(89, 143, 81, 0.8), rgba(104, 179, 152, 0.8));
            -webkit-background-clip: text;
            color: transparent;
        }
        
        .sidebar .trending-posts ul li a span {
            font-size: 14px;
            color: #aaa;
            margin-top: 8px;
        }
        
        .sidebar .trending-posts ul li span a {
            font-size: 14px;
            color: lightseagreen;
            float: right;
        }
        
        @media (max-width: 992px) {
            .navbar .navbar-brand {
                position: absolute;
                left: 30px;
                top: 25px;
            }
            .background-header .navbar-brand,
            .background-header .navbar-toggler {
                top: 15px;
            }
            .navbar .navbar-brand {
                width: auto;
            }
            .navbar:after {
                display: none;
            }
            #navbarResponsive {
                z-index: 99999;
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                text-align: center;
                background-color: rgb(227, 245, 227);
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
            }
            .navbar .navbar-nav .nav-item {
                border-bottom: 1px solid #eee;
            }
            .navbar .navbar-nav .nav-item:last-child {
                border-bottom: none;
            }
            .navbar .navbar-nav a.nav-link {
                padding: 15px 0px;
                color: #1e1e1e!important;
            }
            .navbar .navbar-nav .nav-link:hover,
            .navbar .navbar-nav .active>.nav-link,
            .navbar .navbar-nav .nav-link.active,
            .navbar .navbar-nav .nav-link.show,
            .navbar .navbar-nav .show>.nav-link {
                color: rgb(22, 121, 22)!important;
                border-bottom: none!important;
                padding-bottom: 15px;
            }
        }